:root {
  --primary-color: #dca305;
  --primary-color-dark: #db6f35;
  --text-dark: #333333;
  --text-light: #767268;
  --white: #333504;
  --background-map: #f6f8ece3;
  --max-width: 1200px;
  --header-font: "Bebas Neue", sans-serif;
}

.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.bodyHomePage {
  font-family: "Poppins", sans-serif;
}

.header__container {
  height: 100vh;
  padding-inline: 6rem;
  display: flex;
  flex-direction: row-reverse;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  align-items: center;
  background-color: #fef7f1;
}

.header__image {
  width: 45%;
  -webkit-border-radius: 51% 49% 80% 23% / 65% 50% 5% 35%;
  -moz-border-radius: 51% 49% 80% 23% / 65% 50% 5% 35%;
  border-radius: 51% 49% 80% 23% / 65% 50% 50% 40%;
  overflow: hidden;
  z-index: 2;
}

.header__content {
  width: 50%;
  overflow: hidden;
  text-align: left;
}

.header__image img {
  width: 100%;
  margin-inline: auto;
  display: flex;
}

.header__content h2 {
  position: relative;
  max-width: fit-content;
  margin-left: auto;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-align: left;
}

.header__content h2::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 1rem), -50%);
  height: 2px;
  width: 150%;
  background-color: var(--white);
}

.header__content h1 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--white);
}

.h1__span-1 {
  font-size: 4rem;
  color: var(--primary-color);
}

.h1__span-2 {
  font-size: 2rem;
  font-weight: 400;
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
  text-align: left;
}

.header__content .btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__content .btn:hover {
  color: var(--primary-color);
  background-color: var(--white);
}

.volunteers {
  text-align: center;
  padding: 40px 20px;
  background-color: #f7f7f7;
}

.volunteers h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.volunteer-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.option {
  text-align: center;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.option img {
  width: 200px; /* Ajusta el tamaño según sea necesario */
  height: 200px; /* Ajusta el tamaño según sea necesario */
  object-fit: cover;
  border-radius: 10px;
}

.option:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option p {
  font-size: 16px;
  margin-top: 10px;
}

.footer__bar {
  padding-inline: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

.slider {
  width: 95vw;
  height: auto;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 10px;
  
  background-color: #f4f4f4;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  width: 200px;
  flex-shrink: 0; /* Asegura que los slides no se encogen */
  margin: 10px; /* Añade un pequeño margen entre slides */
}

.slider .slide img {
  width: 100%;
  border-radius: 10px; /* Bordes redondeados para las imágenes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las imágenes */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 7)); /* Ajusta según el número de slides visibles */
  }
}


@media screen and (max-width: 1230px) {
  .header__container {
    flex-direction: column;
    height: auto;
  }

  .header__image {
    display: none;
  }

  .header__content {
    width: 100%;
    text-align: center;
  }

  .header__content h1 {
    font-size: 2.5rem;
  }

  .header__content h2 {
    font-size: 1rem;
  }

  .header__content p {
    font-size: 0.9rem;
  }

  .volunteers .volunteer-options {
    justify-content: center;
  }

  .h1__span-1 {
    font-size: 2rem;
    color: var(--primary-color);
  }

  .h1__span-2 {
    display: none;
  }
}

.map-section {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--background-map);
}

.map-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.testimonials {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffffff;
}

.testimonials h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.testimonials-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial {
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial p {
  font-size: 16px;
  margin-bottom: 10px;
}

.testimonial h4 {
  font-size: 18px;
  color: var(--primary-color);
}

.testimonials {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

.testimonials h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.testimonials form {
  display: inline-block;
  text-align: left;
}

.testimonials textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.testimonials button {
  background-color: #d4af37;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.testimonials button:hover {
  background-color: #b38d2c;
}

.impact-stats {
  text-align: center;
  padding: 40px 20px;
  background-color: #e9ecef;
}

.impact-stats h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat {
  text-align: center;
  margin: 10px;
}

.stat h3 {
  font-size: 36px;
  color: var(--primary-color);
}

.stat p {
  font-size: 18px;
  color: var(--text-dark);
}

.newsletter {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.newsletter input[type="email"] {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}



.newsletter button {
  border: 2px solid #ef923b;
  background-color: #ef923b;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
 }
 
 .newsletter button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }
 
 .newsletter button:hover {
  background-color: #e95d1d;
 }


@media screen and (max-width: 1230px) {
  .header__container {
    flex-direction: column;
    height: auto;
  }

  .header__image {
    display: none;
  }

  .header__content {
    width: 100%;
    text-align: center;
  }

  .header__content h1 {
    font-size: 2.5rem;
  }

  .header__content h2 {
    font-size: 1rem;
  }

  .header__content p {
    font-size: 0.9rem;
  }

  .volunteers .volunteer-options {
    justify-content: center;
  }

  .h1__span-1 {
    font-size: 2rem;
    color: var(--primary-color);
  }

  .h1__span-2 {
    display: none;
  }

  .testimonials-content,
  .stats {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .header__container {
    padding-inline: 1rem;
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .header__content h1 {
    font-size: 2rem;
  }

  .header__content h2 {
    font-size: 0.9rem;
  }

  .header__content p {
    font-size: 0.8rem;
  }

  .volunteers h2,
  .map-section h2,
  .testimonials h2,
  .impact-stats h2,
  .newsletter h2 {
    font-size: 24px;
  }

  .stat h3 {
    font-size: 30px;
  }

  .stat p {
    font-size: 16px;
  }

  .testimonial,
  .stat {
    width: 100%;
  }
}

.buttonVo {
  --color: #00A97F;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .buttonVo::before, .buttonVo::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #dca305;
  transition: 1s ease;
 }
 
 .buttonVo::before {
  top: -1em;
  left: -1em;
 }
 
 .buttonVo::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .buttonVo:hover::before, .buttonVo:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .buttonVo:hover {
  color: rgb(10, 25, 30);
 }
 
 .buttonVo:active {
  filter: brightness(.8);
 }


 .home {
  display: grid;
  grid-template-columns: 35% 65%;
  place-items: center;
  gap: 50px;
  background: rgb(128, 130, 161);
  background: radial-gradient(
    circle,
    rgb(118, 119, 147) 3%,
    rgba(35, 36, 57, 1) 60%
  );
  overflow: hidden;
  padding: 130px 80px;
}

.description {
  color: #fff;
  padding: 0 50px;
}

.description h1 {
  font-family: "Tilt Neon", sans-serif;
  font-size: clamp(3rem, 5vw, 4rem);
  line-height: 1.1;
  margin-bottom: 30px;
}

.gradient-text {
  font-family: "Tilt Neon", sans-serif;
  background-image: linear-gradient(
    90deg,
    rgb(118, 167, 63) 0%,
    rgb(51, 143, 118) 40%,
    rgb(55, 141, 167) 50%,
    rgb(117, 152, 242) 70%,
    rgb(144, 118, 236) 100%
  );
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
}

.description p {
  font-family: "Nunito", sans-serif;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  line-height: 1.5;
  margin-bottom: 30px;
}

#form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input {
  padding-inline-end: 10px;
  padding-inline-start: 10px;
  background-color: transparent;
  outline: transparent;
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-right: 10px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

input::placeholder {
  color: rgb(117, 152, 242);
  opacity: 0.5;
  font-weight: 500;
}

input[type="email"] {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 1rem;
}

input[type="email"]:focus {
  border: transparent;
  outline: 2px dotted rgb(117, 152, 242);
  outline-offset: -3px;
}



.btn:hover {
  background-position: right;
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.item {
  max-width: 200px;
  aspect-ratio: 1/1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



.btn-grad {
  background-image: linear-gradient(
    to right,
    #ece9e6 0%,
    #ffffff 51%,
    #ece9e6 100%
  );
  padding: 8px 12px;
  color: #000;
  box-shadow: 0 0 5px #eee;
  outline: 0;
  font-size: 0.9rem;
  font-weight: 400;
  grid-row: 9 / 10;
  margin: 4px auto 8px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 14px;
}

.control li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #559b9a, #3b3d8a);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5),
    inset 0px 4px 4px rgba(255, 255, 255, 0.2);
  padding: 12px;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  transform: scale(1);
}

.control li::before {
  position: absolute;
  content: "";
  inset: 0;
  background: linear-gradient(to right, #559b9a, #3b3d8a);
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s ease-in;
  opacity: 0;
}

.control li:hover::before {
  opacity: 1;
}

@media (max-width: 1215px) {
  .btn {
    font-size: 1rem;
  }
}

@media (max-width: 1015px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 50px;
    padding: 140px 50px;
  }

  .btn {
    padding: 8px 12px;
  }
}

@media (max-width: 865px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 60px;
    padding: 130px 70px;
  }
  
  .users-color-container {
    gap: 15px;
  }
}

@media (max-width: 815px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "userscolorcontainer"
      "description";
    gap: 30px;
    padding: 90px 80px 70px;
  }

  .users-color-container {
    grid-area: userscolorcontainer;
    gap: 20px;
  }

  .description {
    grid-area: description;
    padding: 0;
    text-align: center;
  }

  #form {
    justify-content: center;
  }
}


@media (max-width: 460px) {
   .home {
    gap: 0;
    padding: 30px 40px;
  }
  
  #form {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
  }


}


