.bodyVolRe {
  background-color: #cccccc;
}

.volRegForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.formRegisterVolunteer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  width: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.678);
}

.titleRVolu {
  font-size: 28px;
  color: rgb(28, 32, 42);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.titleRVolu::before, .titleRVolu::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: royalblue;
}

.titleRVolu::before {
  width: 18px;
  height: 18px;
  background-color: royalblue;
}

.titleRVolu::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.flex2 {
  display: flex;
  width: 100%;
  gap: 6px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.formRegisterVolunteer label {
  position: relative;
  width: 100%;
}

.formRegisterVolunteer label .inputRV {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.formRegisterVolunteer label .inputRV + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.75em;
  cursor: text;
  transition: 0.3s ease;
}

.formRegisterVolunteer label .inputDescription {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.formRegisterVolunteer label .inputDescription + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.75em;
  cursor: text;
  transition: 0.3s ease;
}

.formRegisterVolunteer label .inputRV:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.formRegisterVolunteer label .inputRV:focus + span, .formRegisterVolunteer label .inputRV:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.formRegisterVolunteer label .inputRV:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transition: background 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
  cursor: pointer;
}

@keyframes pulse {
  from {
      transform: scale(0.9);
      opacity: 1;
  }
  to {
      transform: scale(1.8);
      opacity: 0;
  }
}

.form-title {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
}

.form-paragraph {
  margin-top: 10px;
  font-size: 0.9375rem;
  color: rgb(105, 105, 105);
}

.drop-container {
  background-color: #fff;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 25vw;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px dashed rgb(10, 233, 95);
  color: #444;
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.drop-container:hover {
  background: rgba(0, 255, 110, 0.164);
  border-color: rgba(17, 17, 17, 0.616);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color 0.2s ease-in-out;
}

#file-input {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 2px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid rgba(8, 8, 8, 0.288);
}

#file-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

#file-input::file-selector-button:hover {
  background: #0d45a5;
}

@media (max-width: 1024px) {
  .formRegisterVolunteer {
      width: 90%;
  }
  .drop-container {
      max-width: 50vw;
  }
}

@media (max-width: 768px) {
  .formRegisterVolunteer {
      width: 95%;
  }
  .drop-container {
      max-width: 75vw;
  }
}

@media (max-width: 480px) {
  .formRegisterVolunteer {
      width: 100%;
  }
  .drop-container {
      max-width: 100%;
  }
}
