.body{
    background-color: #cecece;
    width: 100%;
    height: 100vh;
}

.object{
    display: flex;
}
.img{
    width: 50%;
    height: 50%;
}

.target{
    place-content: center;
    justify-content: center;
    height: 400px;
    min-height: 400px;
    min-width: 270px;
    width: 20vw;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    
    
}