.body {
  background-color: #fff7f0;
  width: 100vw;
  height: 100vh;
}

.object {
  border: 4px solid #746c54;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  width: 97vw;
  background-color: #cecece;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en nuevas filas */
  justify-content: space-between;
}

.target {
  place-content: center;
  justify-content: center;
  flex: 1 1 calc(33.333% - 10px); /* Ajuste inicial para 3 elementos por fila */
  margin-bottom: 10%; /* Ajusta el margen según sea necesario */
  box-sizing: border-box;
}


.section__header{
  margin-left: 12px;
}

.img {
  width: 130%;
  height: 130%;
}

.logo-organization{
  width: 250px;
  height: 154px;
  border-radius: 10px;

}



.YoutubeVideo {
  width: 250px;
  height: 220px;
  background: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Image {
  width: 250px;
  height: 154px;
  border-radius: 10px;
  background: #746c54;
}

.Icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  float: right;
  background-color: transparent;
  transform: translate(0px,10px);
}

.Title {
  width: 180px;
  height: 25px;
  border-radius: 2px;
  float: right;
  background-color: #746c54;
  transform: translate(-15px,10px);
  justify-content: center;
  align-items: center;
}

.Title p{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.Name {
  width: 180px;
  height: 25px;
  border-radius: 2px;
  float: right;
  background-color: #746c54;
  transform: translate(-15px,20px);
}

.Name p{
  font-size: 14px;
  color: #fff;
}

.Tel {
  width: 180px;
  height: 25px;
  border-radius: 2px;
  float: right;
  background-color: #746c54;
  transform: translate(-55px,30px);
}

.Tel p{
  font-size: 14px;
  color: #fff;
}